.home-page-container {
    height: 100%;
    width: 100%;
    top: 60px;
    z-index: 99;
    color: black;
}

.home-page-top-header {

    height: 120px;
    background-color: rgb(222, 235, 255);
}

.home-page-top-header-inside {
    height: 100%;
    width: 1140px;
    margin: 0 auto;
}

.home-page-top-header-inside p {
    padding: 5rem 1rem 1rem;
    font-size: 1rem;
    text-align: center;
    background-color: rgb(222, 235, 255);
}

.home-page-first-container {
    background-color: whitesmoke;
}

.home-page-first-container-inside {
    width: 1140px;
    margin: 0 auto;
}

.home-page-first-container-inside-split {
    display: flex;
}

.home-page-first-container-inside-split-left {
    display: block;
    width: 50%;
    padding: 1rem;
    padding-top: 10rem;
}

.home-page-first-container-inside-split-right {
    padding-top: 8rem;
    position: relative;
    // left: 16.6667%;
    left: 5%;
    width: 58.3%;
    text-align: center;
}

.home-page-first-container-inside-split-left-top p {
    font-size: 2.8rem;
    font-weight: 600;
}

.home-page-first-container-inside-split-right-video {
    width: 100%;
    height: auto;
}