.drop-down-container {
    position: fixed;
    background-color: whitesmoke;
    // transition: all 0.5s ease-in-out;
    // height: 500px;
    width: 100vw;
    overflow: hidden;
    top: 60px;
    z-index: 101;
    color: black;
}

.solutions {}